<p>facility works!</p>
<p>facility works!</p>
<div class="align">
    <h1 class="titles">  History of appointments </h1>
    <mat-divider></mat-divider>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let app of apps">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{app.dateTime}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Status: {{ app.appointmentState }}

            <button mat-raised-button color="primary" *ngIf="isPending(app)" (click)="onC(app)">Confirm</button>
            <button mat-stroked-button *ngIf="isPending(app)"  (click)="onD(app)">Decline</button>
            <button mat-raised-button color="primary" *ngIf="!isPending(app) && app.appointmentState !== 'DECLINED'"  (click)="onC(app)">Change State</button>
          </p>
          <p>Facilities: <span *ngFor="let f of app.facilities">{{ f.name }}</span></p>
            <p>Results:</p> 
            <p *ngFor="let f of app.results">{{ f.observation }}</p>
        </mat-expansion-panel>
      </mat-accordion>
</div>