.card {
    max-width: 400px;
}

.header-image {
    background-image: url('https://source.unsplash.com/600x600/?pet');
    background-size: cover;
}

h1 {
    font-family: Rajdhani;
    font-size: 4vw;
    color: #e27c6e;
    font-weight: bolder;

    text-align: center;
    padding: 3vh 0px;
}

.align {
    margin-left: 5vw;
    margin-right: 5vw;
}