h1 {
    font-family: Rajdhani;
    font-size: 4vw;
    color: #4e407e;
    font-weight: bolder;

    text-align: center;
    padding-top: 3vh;
}

.align {
    margin-left: 5vw;
    margin-right: 5vw;
}