.cart-button {
    margin-left: 40px !important;
    border-radius: 0 !important;
    border-width: 2px !important;
    border-color: black !important;
    color: black !important;
}

.cart-button:hover {
    margin-left: 40px !important;
    border-radius: 0 !important;
    border-width: 2px !important;
    border-color: black !important;
    color: white !important;
    background-color: black !important;
}